<header>
    <div class="site-header container-fluid">
        <div class="header-wrap container">
            <div class="logo">
                <% link_to '/' do %>
                    <%= image_tag 'trakjungle_blog_full.png' %>
                <% end %>
            </div>
            <div class="navigation">
            <nav>
                <ul class="navigation-menu">
                <li class="menu-list"><%= link_to 'Home', "/" %></li>
                <li class="menu-list"><%= link_to 'Articles' %></li>
                <li class="menu-list"><%= link_to 'Tips' %></li>
                <li class="menu-list"><%= link_to 'Features' %></li>
                </ul>
            </nav>
            </div>
        </div>
    </div>
</header>